<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
	<!-- namespace aop 체크 -->
	<bean id="woman" class="com.test03.Woman" />
	<bean id="man" class="com.test03.Man" />
	<bean id="myAspect" class="com.test03.MyAspect" />
	
	<aop:config>
		<aop:aspect ref="myAspect">
			<aop:before method="before" pointcut="execution(public void com.test03.Woman.classWork())"/> <!-- 여학생에는 붙고 남학생에는 안붙음 -->
			<aop:after method="after" pointcut="execution(public void com.test03.Woman.classWork())"/> <!-- 리턴타입이 뭐든 무슨 클래스던 파라미터가 어떻게 되있건 상관없다는 의미 -->
		</aop:aspect>
	</aop:config>


</beans>
